
/*
    Navigation Bar CSS
*/
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: teal;
}

.nav-bar ul{
    overflow:hidden;
}

.nav-bar ul li{
    font-family: 'Montserrat', sans-serif;
    display:block;
    float:left;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

.nav-bar ul li:hover {
    opacity: 0.6;
    cursor:pointer;
}

.nav-container-right{
    float:right;
}

.nav-application-name{
    font-family: 'Montserrat', sans-serif;
    display:block;
    float:left;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    float:left;
    color:white;
    text-decoration:underline;
}